#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
body {
  background-color: #272727;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CSS for file input buttons */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.custom-file-upload:hover {
  border-color: #646cff;
}

.custom-file-upload:focus,
.custom-file-upload:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.submit-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit-button:hover {
  border-color: #646cff;
}

.submit-button:focus,
.submit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.showCanvas {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.showCanvas:hover {
  border-color: #646cff;
}

.showCanvas:focus,
.showCanvas:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.modelDrop {
  position: absolute;
  top: 5vh;
  left: 3vh;
  font-size: 13px;
}
.idDisplay {
  position: absolute;
  top: 1vh;
  left: 2vh;
  font-size: 13px;
}

.History {
  position: absolute;
  top: 2vh;
  right: 2vh;
  font-size: 13px;
  width: 300px;
  height: 80%;
  overflow: auto; 
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 2%;
}

.HistoryList {
  /* position: absolute; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.ClearHistory {
  position: fixed;
  bottom: 10vh;
  right: 119px;
  font-size: 13px;
}

